#calculator{
    height: 500px;
    width: 300px;
    box-shadow: 4px 4px 30px rgb(65, 64, 64);
    border-radius: 12px;
    background-color: rgb(49, 47, 47);
    margin-right: 80px;
    margin-left: 40px;



}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-buttons{
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    pointer-events: painted;
    justify-content: space-between;
    
}

.operators-btn{

    background-color: rgb(245, 136, 20);
    color: rgb(10, 10, 10);
    width: 60px;
    border-radius: 5px;
    height: 52px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid black;
    margin: 5px 0;

}
.numbers-btn{
    background-color: rgb(230, 217, 217);
    color: black;
    width: 60px;
    border-radius: 5px;
    height: 52px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid black;
    margin: 5px 0;
}

.equal-btn{
    background-color: green;
    color: black;
    width: 60px;
    border-radius: 5px;
    height: 52px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid black;
    margin: 5px 0;

}
.clear-btn{
    background-color: red;
    color: rgb(0, 0, 0);
    width: 60px;
    border-radius: 5px;
    height: 52px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid black;
    margin: 5px 0;
}

.display{
    border-radius: 12px;
    color: azure;
    width: 296px    ;
    border: none;
    
    height: 150px;
    background-color: rgb(0, 0, 0);
    text-align: right;
    font-size: 30px;
    flood-color: rgb(248, 245, 245);
    pointer-events: none;                                   ;

}

.delt-btn{
    background-color: rgb(179, 96, 96);
    color: black;
    width: 60px;
    border-radius: 5px;
    height: 52px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid black;
    margin: 5px 0;
}


.Theme-btns{
    justify-content: space-between;
    position: relative;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px 15px;;
    color: rgb(18, 18, 18);
    width: 100px;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px;
    display: flex;
    pointer-events: painted;
    justify-content: space-between;



}
#themediv{

    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    /* border: 1px solid black; */
    padding-left: 2px;
    margin-left: 20px;
    justify-content: space-around;
    position: relative;
     
}

#pinkTheme{
    background-color: pink;
    color: white;
}
#darkTheme{
    background-color: black;
    color: white;
}
#brownTheme{
    background-color: brown;
    color: white;
}
#greenTheme{
    background-color: green;
    color: white;
}


